.con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  background-color: #f0f0f0; /* Light gray background */
  padding: 20px;
}

.detail {
  background-color: #fff; /* White background for detail section */
  padding: 20px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  text-align: center; /* Center text */
}

.person {
  border: 2px solid #808080; /* Dark gray border */
  padding: 10px;
  height: 100px; /* Increase size for better visibility */
  width: 100px; /* Increase size for better visibility */
  border-radius: 50%;
}

.detail p {
  margin: 10px 0; /* Add some margin between paragraphs */
  font-size: 18px; /* Adjust font size */
}

.btn {
  margin-top: 20px; /* Add some space between detail section and button */
}
